# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/

# Testes e qualidade
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# Ambiente
.env
.env.prod
.env.local

# IDE
.vscode/
.idea/
*.DS_Store
